<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a Text Homepage</h1>
    <h2>Please enter your text below</h2>
    <form action='/analyze' method = 'get'>
        <textarea name='text' id="" cols="30" rows="10" style="width: 895px; height: 129px;"></textarea><br>
        <input type="checkbox" name="removepunc">Remove Punctuations <br>
        <input type="checkbox" name="fullcaps">Capitalize Your Text <br>
        <input type="checkbox" name="charlen">Length of your characters <br>
        <button type="submit"> Click here to Analyze</button>

    </form>
</body>
</html>